<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Samrajji N - AI/ML Engineer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap.min.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FXZC9YK7P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5FXZC9YK7P');
    </script>
</head>
<body>
    <video autoplay loop muted playsinline id="background-video">
        <source src="{{ url_for('static', filename='static/videos/bgclip.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <header>
        <div class="container">
            <h1>Samrajji N - AI/ML Engineer</h1>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#Certificate">Certificates</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>About Me</h2>
            <p class="aboutme">  Hi, I’m Samrajji, an MSc student in Artificial Intelligence and Data Analytics with a
                 passion for solving real-world problemsthrough machine learning and AI.I thrive on
                  challenges and enjoy exploring topics like machine learning, deep learning, and
                   natural language processing. Whether it's analyzing data to uncover patterns,
                    building predictive models, or developing AI-driven applications, I am always
                     excited to dive into new projects and learn something new.Currently, I'm working
                      towards becoming an AI/ML engineer, combining my academic foundation with hands-on projects. 
            </p>
        </div>
    </section>

    <section id="Certificate">
        <div class="container">
            <h2>Certificates</h2>
            <div class="Certificate">
                    <a href="https://drive.google.com/file/d/1cSbto8kuAK_Nxbnt0kQYOY3J1ebju691/view?usp=drive_link" target="_blank">
                        Machine Learning Certificate  -  By Novitech Pvt & Ltd 
                    </a>
                    <a href="https://drive.google.com/file/d/1Upm-RBljFaNlua-czNq4WO4d2ykLgY61/view?usp=drive_link">
                        Artificial Intelligence Certificate  -  By Novitech Pvt & Ltd 
                    </a>
                    <a href="https://drive.google.com/file/d/1jAVDW5A7xbftu7C_zb49sKHVSkYgAKmW/view?usp=drive_link" target="_blank">
                        Git & github Certificate  -  Lets Upgrade 
                    </a>
                    <a href="https://drive.google.com/file/d/1yg_kcRmTo8ixNkhlYREjVUfakUMk1QZg/view?usp=sharing" target="_blank">
                        HTML & CSS Certificate  -  By Error Makes Clever
                    </a>
                    <a href="https://drive.google.com/file/d/1IkApa9xT1eUe0uNRXyy5VY9_wkzPU8G_/view?usp=sharing" target="_blank">
                        Tableau Certificate  -  By SmartBridge Educational Services Pvt. Ltd.
                    </a>
            </div>

        </div>
    </section>

    <section id="contact">
            <h2>Contact</h2>
            <p class="social-media" style="font-size: 20px;">Email: nsraj1713@gmail.com
            </p>
        <div class="social-media">      
            <a href="https://www.hackerrank.com/profile/nsraj1713" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
            <a href="https://github.com/SAMRAJJI" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/samrajji-natarajan-19166720b/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </section>
    <!-- Chatbot Toggle Button -->
    <button id="chatbot-toggle" class="btn btn-primary rounded-circle" onclick="toggleChat()">
        💬
    </button>

    <!-- Chatbot Container (Initially Hidden) -->
    <div id="chat-container" class="shadow">
    <div id="chat-box"></div>
    <div class="input-group mt-2">
        <input type="text" id="user-input" class="form-control" placeholder="Type your message...">
        <button class="btn btn-success" onclick="sendMessage()">Send</button>
    </div>
    </div>

  

    <footer>
        <div class="container">
            <p>&copy; 2025 Samrajji. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='static/js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='static/bootstrap.bundle.min.js') }}"></script>
      
</body>
</html>
